.first__title {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    font-family: 'Tw Cen MT', cursive;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(255, 174, 252), rgb(170, 251, 255));
    font-size: 30px;

}